* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lato, sans-serif;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px;
}

@media (max-width: 1439.99px) {
  .container-fluid {
    padding: 0 20px;
  }
}

header > .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

.branding {
  display: flex;
  align-items: center;
}

.branding p {
  display: block;
  margin: 0 0 0 30px;
}

h1 a,
li a{
  color: #34495e;
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.menu {
  display: flex;
}

.menu li {
  margin-right: 35px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a:hover {
  color: #718daa;
}

header > .container-fluid .toggle-nav {
   display: none;
}


@media (max-width: 1079.99px) {
  header > .container-fluid .toggle-nav {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #000;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 20px;
  }

  .menu li {
    height: 75px;
    margin: 0;
  }

  nav {
    position: absolute;
    width: 100%;
    height: calc(100vh -75px);
    background: #fff;
    top: 75px;
    right: -100%;
    transition: .5s;
  }

  .menu {
    flex-direction: column;
    padding-left: 25px;
  }
}

.active {
  right: -150px;
  opacity: 1;
}

.content {
  background: black;
  height: 500px;
}

.line,
.line::before,
.line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  background: white;
  height: 2px;
}

.line::before {
  top: calc(50% - 7px);
  transition: .5s ease;
}

.line::after {
  top: calc(50% + 7px);
  transition: .5s ease;
}

.toggle-nav.close-nav .line {
  background: transparent;
  transition: .5s;
}

.toggle-nav.close-nav .line::before {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
/*   transition: .5s ease; */
}

.toggle-nav.close-nav .line::after {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
/*   transition: .5s ease; */
}
